main * {
	color: #000;
}

#intro-img {
	background-size: 100%;
	background-position: center;
	width: 100%;
}

.popular-container {
	margin-block: 100px;
	padding: 30px;
}

.popular-title {
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.popular-cards {
	display: flex;
	margin: 15px;
	justify-content: space-between;
	align-items: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 350px;
	padding: 30px;
	margin: 15px;
	background: rgb(231, 231, 231);
}

.product-card img {
	height: 250px;
}
