main * {
	color: #000;
}

.intro-image-container img {
	width: 100%;
	object-fit: cover;
}

p {
	font-size: 1.2rem;
}

.section-title {
	font-size: 2.2rem;
	font-weight: 600;
	margin-top: 25vh;
	margin-bottom: 7vh;
	margin-left: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.introduction-container {
	margin: 50px;
	display: flex;
	justify-content: center;
}

.introduction p {
	padding: 50px;
}

.introduction img {
	width: 35%;
}

.description p {
	padding: 0px 50px;
}