main * {
	color: #000;
}

main {
	margin-top: 20vh;
}

.setting-title {
	margin: 15px 0px;
}

.setting {
	margin: 10px 15px;
}

.main-container {
	display: flex;
	padding: 40px;
}

.settings-container {
	padding: 25px;
	width: 25%;
	border: 1px solid #000;
}

.settings {
	display: flex;
	flex-direction: column;
}

.products-container {
	padding: 25px;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.product-card {
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(241, 241, 241));
	margin: 15px 10px;
	height: 325px;
	width: 270px;
}

.product-card img {
	width: 100%;
}

.product-card a {
	text-decoration: none;
}

.product-card:hover {
	border: 2px solid #000;
}

.product-info {
	padding: 3px 10px;
}

.product-info h3 {
	font-weight: 600;
}
