.story {
	display: flex;
	justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
	padding: 40px;
    background-color: rgba(55, 55, 55, 0.3);
    border-radius: 5px;
}

.story img {
	height: 450px;
	border-radius: 5px;
}

.story p {
	font-size: 2rem;
}
